.numbersDate,
.numbersDateWithBorder {
    padding: 0 12px;
    margin: 7px 0;
    font-size: 17px;
    font-weight: bold;
    color: #b7b7b7;
  }
  .numbersDateWithBorder {
    color: red;
    border: 2px red solid;
    border-radius: 50%;
  }